<!DOCTYPE html>
<html>
  <head>
    <title>Vapos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('ui/vapos_favicon.png') %>
     <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>"
        }
      </script>
    <% else %>
      <script>
        window.currentUser = undefined
      </script>
    <% end %>

    <script type="text/javascript">
      window.vaposLogo = "<%= image_url('ui/logo_vapos.png') %>";
      window.leftButton = "<%= image_url('ui/left_arrow.png') %>";
      window.rightButton = "<%= image_url('ui/right_arrow.png') %>";
    </script>

    <meta property="og:title" content="Vapos">

    <meta name="image" property="og:image" content="<%= image_url('readme/vapos_homePage.png') %>">

    <meta name="description" content="Vapos is a clone of the e-commerce store Steam, where you can browse games, wishlist, add to your cart, and more">
    <meta property="og:url" content="https://vapos.herokuapp.com/">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
